@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MXWasgard';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/MXWasgard.ttf) format('truetype');
}
